version: '3'
services:
  web:
    image: 'tails1982/my-devops-app:latest'
    ports:
      - "5000:5000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 30s
      timeout: 10s
      retries: 3